*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.Logo{
    width: 150px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    font-weight:600 ;
    color: black;
}
.links:hover{
    text-decoration: underline;
    color: rgb(39, 197, 131);
}
.home-content{
    margin: 15% 0px 0px 8% ;
}
#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Italianno", cursive;
}
#last-name{
    font-family: "Italianno", cursive;
    color:rgb(39, 197, 131);
}
#user-details{
    line-height:1.5 ;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 30px;
}
.home-image{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
    transition: bottom 2s, left 1s;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}
.home-image:hover #shape{
    bottom: 80px;
}
.home-image:hover #girl{
    left: 30%;
}
#about{
    margin: 20% 8% 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainhead{
    font-size: 20px;
}
.subhead{
    color:rgb(39, 197, 131) ;
    font-size: 20px;
}
.aboutbody{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2px;
}
.img1{
    width: 50%;
}
.aboutcontent{
    font-size: 20px;
    text-align: justify;
}
.information{
    margin-top: 1.3rem;
}
.infobox{
    margin-bottom: 10px;
}
.infobox span{
    margin-left: 1rem;
}
#skill{
    margin: 8% 8% 0% 8%;
}
.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barhead,.barpercent{
    font-weight: 500;
    font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.portraitbar{
    background-color: rgb(39, 197, 131);
    width: 90%;
}
.landscapebar{
    background-color: rgb(39, 197, 131);
    width: 98%;
}
.editbar{
    background-color: rgb(39, 197, 131);
    width: 85%;
}
.wildbar{
    background-color: rgb(39, 197, 131);
    width: 70%;
}
.myskill{
    width: 100%;
}
#contact{
    margin: 13% 8% 0px 8%;
}
.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.brands{
    color: black;
    font-size: 1.7rem;
}
.icon:hover{
    background-image:linear-gradient(to bottom right,rgb(208, 219, 215), rgb(95, 174, 141), rgb(12, 67, 45));
}
.icon:hover .brands{
    color: white;
    /* animation */
    animation: rotate 3s;
}
@keyframes rotate{
            0%{
                transform: rotate(30deg);
            }
            20%{
                transform: rotate(-30deg);
            }
            40%{
                transform: rotate(30deg);
            }
            60%{
                transform: rotate(-30deg);
            }
            80%{
                transform: rotate(30deg);
            }
            100%{
                transform: rotate(-30deg);
            }
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.uparrow{
    float: right;
    margin: -30px 20px 40px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(39, 197, 131);
}